<ul
  class="content__page">
  <li
    class="page--item
           content__instagram">
    <i
      class="instagram--icon">
    </i>
    <p>
      Instagram
    </p>
    <a
      href="https://instagram.com/jeranbuq0518"
      target="_blank">
      @jeranbuq0518
    </a>
  </li>

  <li
    class="page--item
           content__facebook">
    <i
      class="facebook--icon">
    </i>
    <p>
      Facebook
    </p>
    <a
      href="https://www.facebook.com/jeranbuq0518"
      target="_blank">
      Barberia jeranbuq
    </a>
  </li>

  <li
    class="page--item
          content__wp">
    <i
      class="whatsapp--icon">
    </i>
    <p>
      What's Apps
    </p>
    <a
      href="https://wa.me/+573008357969?text=Hola,%20Quiero%20el%20servicio%20de%20"
      target="_blank">
      300 295 7969
    </a>
  </li>

  <li
      class="page--item
            content__assist">
    <p
      class="page__text--fontsize">
      Horarios de Atención
    </p>
    <p
      class="page__text--fontsize">
      Lunes a  Sábado 11:00 a.m. a 9:00 p.m.
    </p>
  </li>
</ul>

