<ul
  class="page">

  <li
    class="page__item
            page__item--instagram">
    <i
      class="image
            instagram--icon">
    </i>
    <p
      class="item__text">
      Instagram
    </p>
    <a
      class="item__link"
      href="https://instagram.com/jeranbuq0518"
      target="_blank">
      @jeranbuq0518
    </a>
  </li>

  <li
    class="page__item
          page__item--facebook">
    <i
      class="image facebook--icon">
    </i>
    <p
      class="item__text">
      Facebook
    </p>
    <a
      class="item__link"
      href="https://www.facebook.com/jeranbuq0518"
      target="_blank">
      Barberia jeranbuq
    </a>
    <a
      class="item__link"
      href="https://www.facebook.com/jeranbuq0518"
      target="_blank">
      Reserva Aquí
    </a>
  </li>

  <li
    class="page__item
          page__item--wp">
    <i
      class="image whatsapp--icon">
    </i>
    <p
      class="item__text">
      What's Apps
    </p>
    <a
      class="item__link"
      href="https://wa.me/+573002957969?text=Hola,%20Quiero%20el%20servicio%20de%20"
      target="_blank">
      300 295 7969
    </a>
  </li>

  <li
      class="page__item
            page__item--assist">

    <div
      class="paragraph paragraph--center">

      <p
        class="item__text item__text--tittle">
        Horarios de Atención
      </p>
      <p
        class="item__text item__text--center">
        9:00 a.m  a 2:00 p.m. <br> 4:00 p.m. a 9:00 p.m.
      </p>

    </div>
    <div
      class="paragraph">
      <p
        class="item__text">
        Los Jueves se comienza a las 3:00 p.m.
      </p>
      <p
        class="item__text">
        los Domingos se cierra cada 15 días.
      </p>
      <p
        class="item__text">
        los Lunes festivos no hay servicio.
      </p>

    </div>
  </li>
</ul>

