<footer>
  <div
    class="content__location">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d819.5016885053575!2d-75.57132116895431!3d6.3364814240398495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442fac8083d9a3%3A0x51567201c8c434ea!2sBarberia%20Jeranbuq!5e1!3m2!1ses-419!2sco!4v1684457958463!5m2!1ses-419!2sco"
      style="border:0;"
      allowfullscreen=""
      loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <div
    class="content__bottom">

    <div
      class="content__image--chair">
      <div
        class="content__icon--barber">
      </div>
    </div>

    <div
      class="content__text--contact">
      <div>
        <a href="https://instagram.com/jeranbuq0518" target="_blank">@jeranbuq0518</a>
        <i class="icon--instagram"></i>
      </div>
      <div>
        <a href="https://www.facebook.com/jeranbuq0518" target="_blank">Barberia jeranbuq</a>
        <i class="icon--facebook"></i>
      </div>
      <div>
        <a href="https://wa.me/+573002957969?text=Hola,%20Quiero%20el%20servicio%20de%20" target="_blank">300 295 7969</a>
        <i class="icon--wp"></i>
      </div>
      <div>
        <a href="">Carrera 65B # 52B -42, Bello - Antioquia</a>
        <i class="icon--address"></i>
      </div>
    </div>

  </div>

</footer>
