<div
  class="content__page">

  <div
    class="content__image">
  </div>

  <p
    class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore dolor alias tempore beatae est voluptates ea, saepe temporibus laborum maxime! Aspernatur nisi ipsa facilis cumque placeat possimus cupiditate officiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque voluptas, ipsam nesciunt eveniet quibusdam velit reprehenderit alias beatae voluptatum perferendis, ducimus, expedita voluptate odio quod. Inventore laudantium nobis nemo.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos vel consequatur atque corporis iste modi totam ea reiciendis et quos, deleniti voluptas similique natus, pariatur, ab neque veniam asperiores deserunt.
  </p>

</div>



