.page{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  background-color: var(--color--gray--background);
  padding: 15px 0;
  animation: content 1s ease-in-out;

  .page__image{
    width: 250px;
    height: 350px;
    margin: 0 auto;
    background-image: url('../../../assets/images/Jeran_Portada.png');
  }
  .paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin :20px auto;
    .paragraph__text{
      font-size: 1.35rem;
      font-weight: 400;
      text-align: left;
      margin-top: 15px;
      span{
        font-weight: 600;
        font-size: 1.45rem;
      }
    }
    .tittle__text{
      text-align: center;
      font-weight: 700;
      font-size: 1.8rem;
      color: var(--colot--black);
    }
  }
}

@media(min-width:700px) {
  .page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@keyframes content {
  0%{
    transform: scale(0,0);
  }
  100%{
    transform: scale(1,1);
  }

}


