<div
  class="page">

  <div
    class="image page__image">
  </div>

  <div
    class="paragraph">
    <h2
      class="tittle__text">
      Jersson Bustamante<br>
      Itagüí-Colombia<br>
      1985
    </h2>

    <p
      class="paragraph__text">
      En el año 2003, de una manera empírica y <span>apoyado por toda mi familia</span>, fueron mis inicios como barbero en el barrio Pedregal de Itagüí. En el año 2004 nace Jersson Barbería, siendo esta una primera etapa muy "underground" y de mucho aprendizaje.
    </p>

    <p
      class="paragraph__text">
      En el año 2008, por temas de violencia en el barrio, la barbería se traslada al municipio de Bello. Comienza <span>JERANBUQ Barbería</span> ( <span>Je</span>rsson <span>An</span>drés <Span>Bu</Span>stamante <span>Q</span>uiroz) y en todos estos años, he estado prestando mi servicio tanto a toda mi comunidad, como a diferentes clientes de distintos lugares

    <p
      class="paragraph__text">
      Siempre que las personas llegan a mi barbería, quiero que sientan que están en confianza, que sea un momento de tranquilidad, que lo disfruten, me pongo en disposición de escucharlos y les presto el mejor servicio y atención posible. Así, logrando que muchas personas me hayan brindado su confianza de ser su asesor de imagen.
    </p>

  </div>

</div>



